* {
    padding: 0;
    margin: 0;

    --blue: #60cecc;
    --white: hsl(30, 50%, 97%);
    --navy: #293462;
    --orange: rgb(243, 169, 83);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--white);
    background-size: cover;
}

header {
    margin: 0 10vw;
}

.title {
    font-family: 'Righteous', cursive;
    font-size: 7em;
    font-weight: 700;
    color: var(--navy);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 50vw;
}

.filters {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

button {
    font-family: 'Questrial', sans-serif;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:active {
    transform: translateY(4px);
}


.option {
    font-size: 3rem;
    flex-grow: 1;
    background-color: var(--white);
    color: var(--navy);
    border: 1px solid var(--navy);
    
}

button:focus {
    outline: none;
}

.active {
    color: var(--white);
    background-color: var(--navy);
}

.priceFilter {
    display: inline;
    justify-content: space-between;
    color: transparent;
    transition: all 1s ease-in-out;
    margin: 2rem;
}

.dollars4 {
    background: linear-gradient(to right, var(--navy), var(--navy) 100%, darkgrey 100%, darkgrey);
    -webkit-background-clip:text;
    background-clip: text;
    transition: all 1s ease-in-out;
}

.dollars3 {
    background: linear-gradient(to right, var(--navy), var(--navy) 75%, darkgrey 75%, darkgrey);
    -webkit-background-clip:text;
    background-clip: text;
    transition: all 1s ease-in-out;

}

.dollars2 {
    background: linear-gradient(to right, var(--navy), var(--navy) 50%, darkgrey 50%, darkgrey);
    -webkit-background-clip:text;
    background-clip: text;
    transition: all 1s ease-in-out;

}

.dollars1 {
    background: linear-gradient(to right, var(--navy), var(--navy) 25%, darkgrey 25%, darkgrey);
    -webkit-background-clip:text;
    background-clip: text;
    transition: all 1s ease-in-out;

}

.dollar {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    padding: 2rem;
    color: inherit;
    cursor: pointer;
}

#activate {
    font-family: 'Righteous', cursive;
    font-size: 3.5rem;
    margin-top: 1.5rem;
    padding: 1rem 2.5rem;
    background-color:rgb(243, 169, 83);
    color: var(--white);
    border: none;
    box-shadow: 0 1px 3px 0 rgba(243, 169, 83, 0.6), 0 1px 2px 0 rgba(243, 169, 83, 0.36);
}

.resultBlock {
    display: hidden;
    height: 10rem;
    margin-top: 2rem;
}

.result {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: 700;
    font-size: 5rem;
    color: var(--navy);
}

.links {
    display: none;
}

.reveal {
    animation: moveUp .7s cubic-bezier(.25,.8,.25,1);
}

.reveal .links {
    display: flex;
    justify-content: space-around;
    font-family: 'Questrial', sans-serif;
}

.links a {
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--navy);
    background-color: var(--white);
    border: 2px solid var(--navy);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

a:active {
    transform: translateY(4px);
}

.links a:visited {
    color: inherit;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 912px) {

    main {
        max-width: 80vw;
    }

}

@media screen and (max-width: 57rem) {

    .title {
        font-size: 6rem;
    }

    main {
        max-width: 95vw;
    }

    .option {
        font-size: 2rem;
    }

    #activate {
        font-size: 3rem;
    }

}