* {
    padding: 0;
    margin: 0;

    --blue: #60cecc;
    --white: hsl(30, 50%, 97%);
    --navy: #293462;
}

html {
    font-size: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--white);
    background-size: cover;
}

header {
    margin: 0 10vw;
}

.title {
    font-family: 'Righteous', cursive;
    font-size: 7em;
    font-weight: 700;
    color: var(--navy);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    max-width: 50vw;
}

.filters {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

button {
    font-family: 'Questrial', sans-serif;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:active {
    transform: translateY(4px);
}

.option {
    font-size: 3rem;
    flex-grow: 1;
    background-color: var(--white);
    color: var(--navy);
    border: 2px solid var(--navy);

}

.active {
    color: var(--white);
    background-color: var(--navy);
}

#activate {
    font-family: 'Righteous', cursive;
    font-size: 3.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 3.5rem;
    background-color:#f3a953;
    color: var(--white);
    border: none;
}

.resultBlock {
    display: hidden;
    height: 10rem;
    margin-top: 2rem;
}

.result {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: 700;
    font-size: 5rem;
    color: var(--navy);
}

.links {
    display: none;
}

.reveal {
    animation: moveUp .7s cubic-bezier(.25,.8,.25,1);
}

.reveal .links {
    display: flex;
    justify-content: space-around;
    font-family: 'Questrial', sans-serif;
}

.links a {
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--navy);
    background-color: var(--white);
    border: 2px solid var(--navy);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

a:active {
    transform: translateY(4px);
}

.links a:visited {
    color: inherit;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 912px) {

    main {
        max-width: 80vw;
    }

}

@media screen and (max-width: 57rem) {

    .title {
        font-size: 6rem;
    }

    .option {
        font-size: 2rem;
    }

    #activate {
        font-size: 3rem;
    }

}